**/generated
**/mapped
**/*all_ds*.txt
**/.DS_Store
Information retrieval/lab5/.DS_Store
Video Object Detection/input_4k.mp4
Video Object Detection/Task1 Object detection/output_1080p.avi
Video Object Detection/Task1 Object detection/output_4k.avi
